* {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    font-size: 1.15em;
    font-family: "Fira Code", monospace;
    background-color: #131515;
    color: #d5c4a1;
}

@font-face {
    font-family: "Fira Code";
    src: url('FiraCode-Regular.ttf') format('truetype');

    font-family: "Fira Code Bold";
    src: url('ttf/FiraCode-SemiBold.ttf') format('truetype');
}

h1 {
    font-size: 2em;
    color: #7a8601;
    font-family: "Fira Code Bold";
}

.italic {
    font-style: italic;
    color: #89b482;
}

a {
    text-decoration: none;
    color: #83a598;
    transition: color 0.3s ease-in-out;
}

a:hover {
  color: #7a8716;
}

.article {
    color: #f28534;
    transition: color 0.3s ease-in-out;
}

.article:hover {
  color: #a89984;
}
